/.env
/helm/api-platform/charts/*
!/helm/api-platform/charts/.gitignore
/docker-compose.override.yml
!/docker-compose.override.yml.dist

###> phpstorm ###
/.idea
###< phpstorm ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###
